{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_alias/manage


    Example context (json):
    {

    }
}}
<div class="modal fade" id="aliasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Alias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#str}}confirmdelete, local_alias{{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="confirm-delete-alias btn btn-primary">{{#str}}confirm, local_alias{{/str}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}delete, local_alias{{/str}}</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pb-5">
        <h1>{{#str}}welcome, local_alias{{/str}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 pb-4">
        <h4>{{#str}}number, local_alias{{/str}}{{count}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-6 pb-6">
        {{{form}}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">{{#str}}friendly, local_alias{{/str}}</th>
                <th scope="col">{{#str}}destination, local_alias{{/str}}</th>
                <th scope="col">{{#str}}action, local_alias{{/str}}</th>
            </tr>
            </thead>
            <tbody>
            {{#alias}}
                <tr>
                    <td>{{friendly}}</td>
                    <td>{{destination}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="location.href='{{editurl}}?id={{id}}'">
                            {{#str}}edit, local_alias{{/str}}
                        </button>
                        <button type="button" data-toggle="modal" class="aliasid{{id}} alias-delete-btn btn btn-danger" data-target="#aliasModal">
                            {{#str}}delete, local_alias{{/str}}
                        </button>
                    </td>
                </tr>
            {{/alias}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br/>
        {{{paginate}}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br/>
        <input type="button" class="btn btn-primary" value="Create Alias" onclick="location.href='{{editurl}}'">
    </div>
</div>
